<section class="city-card">
    
    <div class="caption" >
        Which city is this? 
    </div>
	
	<div class = "answer">
	{{caption}}
	</div>
	
	
	<input id="text-entry">
	<button id="submit-answer">Submit Answer</button>
	
	
	<div class="image-container">
        <img class="city-image" src="{{photoURL}}" />
    </div>
	
</section>