<section class="mutipleChoiceBox">
    <div class="choicelist">
      <label for="one">
        <input type="checkbox" id="one" />{{city}}</label>
      <label for="two">
        <input type="checkbox" id="two" />More Content</label>
      <label for="three">
        <input type="checkbox" id="three" />Some Content</label>
    </div>
  </div>
</section>