<section class="input">
        <div class="login">
            <input type="text" id="city-input" placeholder="Enter your guess here">
            <button id = "submit-button">Submit</button>
        </div>
</section>