<section class="mutipleChoiceBox">
    <ul class = "choicelist">
        <li>First State</li>
        <li>Another State</li>
        <li>Some State</li>
        <li>{{state}}</li>
    </ul>
</section>