<section class="mutipleChoiceBox">
    <div class="choicelist">
      <label for="one">
        <input type="checkbox" id="one" />{{city}}</label>
      <label for="two">
        <input type="checkbox" id="two" />Second checkbox</label>
      <label for="three">
        <input type="checkbox" id="three" />Third checkbox</label>
    </div>
  </div>
</section>