<article class="scoreCard">
    <div class="content">
        <div class="scoreContent">
            <div class="score-icon">
            </div>
            <div class="userdata">
                <p class="username">
                    {{name}}
               </p>
               <p class="scorevalue">
                    {{score}}
                </p>
            </div>
        </div>
    </div>
</article>
