<!-- First page with welcome message, username box, go button, and start button. Atleast so far-->
<!-- Currently all of index.js controls this content -->		

<p id='intro' >Welcome to the City Guess Game! Enter your name and options to continute.</p>
<input type="text" id="name-input" placeholder="Your Name">
<!-- <button id = "login-button" onclick="window.location.replace('game.html')">Go</button> -->
<button id = "login-button">Go</button>
<div id="username"></div>

<button id = "r-button">Click to Start</button>
<img src= 'images/test1.jpg' id = 'myImg'>
