<!-- When the user presses start, a random 'city' is put into the cityCard-->
<!-- This html is put into the {{{body}}} variable in mainPage.handlebars -->

<header>
		
     <script src="/cityCardTemplate.js" charset="utf-8" defer></script>
     <script src="/index.js" charset="utf-8" defer></script>

</header>

<div class="content">
    <div class="input>
        <div class="caption">
           <p id="caption">Which city is this?</p>
       </div>

        {{> multipleChoiceCard}}

        <button id="submit-answer">Submit Answer</button>
    </div>
</div>
	
<main class="city-container">

    {{> cityCard}}

</main>
