<!-- When the user presses start, a random 'city' is put into the cityCard-->
<!-- This html is put into the {{{body}}} variable in mainPage.handlebars -->

<main class="city-container">

    {{> cityCard}}

</main>