body
{
background-color: #94cde0;
margin-top: 0px;
/* Source: http://www.shadedrelief.com/physical/data/wall/wall3.jpg */
}

.navbar
{
    background-image: url(images/navbar.png);
}

.navlist
{
    margin: 0 0 0 20px;
    padding: 10px 0 10px 0;
}

.navitem
{
    display: inline-block;
    margin: 0 12px 0 12px;
}

a
{
    text-decoration: none;
}

.navlink a
{
    color: white;
    font-family: 'MV Boli', 'Calibri', Helvetica;
    font-weight: normal;
    font-size: 20px;
}

a:hover,
a:focus
{
    color: yellow;
    outline: none;
}

h1
{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'MV Boli', 'Calibri', Helvetica;;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    color: yellow;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.highscore
{

    font-family: 'MV Boli', 'Calibri', Helvetica;
	font-size: 40px;
    font-style: normal;
    color: blue;
	margin-left: 350px;
   
}

.content
{
    background: #000000;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
}

.city-container
{
    background: #000000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.login
{
    display: flex;
    flex-direction: column;
}

#caption
{
    font-family: 'MV Boli', 'Calibri', Helvetica;
    font-style: bold;
    font-size: 18px;
    text-align: center;
    color: white;
}

#text-entry
{
    display: flex;
    max-width: 800px;
    align-self: center;
}

#submit-answer
{
    display: flex;
    max-width: 600px;
    align-self: center;
    margin-top: 10px;
}

#intro
{
    color: yellow;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}

#name-input 
{
    background: #eeeeee;
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#login-button
{
    font-size: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#username
{
    color: white;
    font-size: 30px;
    text-align: center;
}

#r-button
{
    font-size: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#select-choices
{
	display:inline;
	font-size: 20px;
	position: absolute;
	margin-left:500px;
}

#select-button
{
	font-size: 20px;
	margin-left: 800px;
	margin-top: 100px;
}
.city-card .answer
{
    display: None;
}

.city-card
{
    width: 100%;
    display: flex;
}

.image-container
{
    display: block;
    width: 100%;
}

.city-image
{
    width: 100%;
    height: auto;
}

.choicelist
{
    display: inline-block;
    color: purple;
}