body
{
background-image: url(images/background.jpg);
/* Source: http://www.shadedrelief.com/physical/data/wall/wall3.jpg */

}


h1
{

    font-family: 'MV Boli', 'Calibri', Helvetica;;
	font-size: 100px;
	font-weight: normal;
    font-style: normal;
    color: yellow;;
	margin-left: 350px;
   
}

#intro
{
	color: yellow;
	font-size: 25px;
	margin-left: 300px;
}

#name-input 
{
    background: #eeeeee;
    font-size: 30px;
	position: absolute;
	margin-left: 500px;
}

#login-button
{
	font-size: 30px;
	position: absolute;
	margin-left: 650px;
	margin-top: 50px;
}

#username
{
	color: #0001cc;
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#r-button
{
	font-size: 30px;
	margin-left: 650px;
}


#select-choices
{
	display:inline;
	font-size: 20px;
	position: absolute;
	margin-left:500px;
}

#select-button
{
	font-size: 20px;
	margin-left: 800px;
	margin-top: 100px;
}

.city-container 
{
	
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 10%;
  width: 10%;
  display: inline-block;
	
	
}

.image-container
{
	max-width: 10px;
    
    margin-left: 200px;
	margin-top: 150px;
	border-radius: 50%;
	width: 100%;
	
	display: inline-block;
}